<?xml version="1.0" encoding="UTF-8"?>
<Sausa>
    <Projects>
        <Project Definition="DrPepper" Path="C:\Users\Diesel\Documents\Sausa\DrPepper.sau" Time="1805:10/29/19"/>
        <Project Definition="HangerBay" Path="C:\Users\Diesel\Documents\Sausa\HangerBay.sau" Time="0748:11/1/19"/>
        <Project Definition="Tunnel" Path="C:\Users\Diesel\Documents\Sausa\Tunnel.sau" Time="1603:09/15/19"/>
        <Project Definition="EndCap" Path="C:\Users\Diesel\Documents\Sausa\EndCap.sau" Time="2155:04/11/19"/>
    </Projects>
    <Settings>
        <Setting LastUsedColorScheme="1" LastProjectSavedDirectory="C:\Users\Diesel\Documents\Sausa"/>        
    </Settings>
</Sausa>